/* COMMON */
body {
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    height: 3000px;
    position: relative;

    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

body .inner {
    width: 1265px;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 250px;
}

/* HEADER */
header {

}

header .menu-bar {
    position: fixed;
    height: 100%;
    width: 0;
    background-color: pink;
    overflow: hidden;
    transition: width .4s;
}

header .menu-bar.focused {
    width: 250px;
}

header .menu-bar ul .menu-bar__list {
    background-color: yellow;
    height: 70px;
    display: flex;
    position: relative;
    border-bottom: 0.5px solid black;
}

header .menu-bar ul .menu-bar__list div {
    font-size: 13px;
    height: 20px;
    position: absolute; 
    font-weight: bold;
    top: 0;
    bottom: 0;
    margin: auto 25px;
    cursor: pointer;
}

header .menu-bar ul .menu-bar__list .material-icons {
    font-size: 20px;
    height: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 25px;
    padding: 10px;
    cursor: pointer;
}

/* TOP MENU BAR */

body > nav.inner {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .4s;
}

body > nav.inner.focused {
    transform: translateX(250px);
}

body .inner .top-menu {
    background-color: pink;
    display: flex;
}

body .inner .top-menu .left-box {
    height: 70px;
    width: 150px;
    background-color: orange;
    position: relative;
}

body .inner .top-menu .left-box .items {
    margin: 0 25px;
    background-color: pink;
    display: flex;
    height: 100%;
    position: relative;
}

body .inner .top-menu .left-box .items .material-icons {
    font-size: 20px;
    height: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    cursor: pointer;
}

body .inner .top-menu .left-box .items div {
    font-size: 13px;
    height: 20px;
    position: absolute; 
    font-weight: bold;
    top: 0;
    bottom: 0;
    margin: auto 15px;
    cursor: pointer;
}

body .inner .top-menu .search {
    display: flex;
    height: 100%;
    position: relative;
}

body .inner .top-menu .search input {
    height: 70px;
    width: 70px;
    outline: none;
    box-sizing: border-box;
    padding: 20px;
    transition: width .4s;
}

body .inner .top-menu .search.focused input {
    width: 935px;
    font-size: 17px;
    color: dimgrey;
}

body .inner .top-menu .search .material-icons {
    font-size: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    opacity: 1;
    transition: .4s;
}

body .inner .top-menu .search.focused .material-icons {
    opacity: 0;
}

body .inner .top-menu .middle-box {
    width: 865px;
    background-color: red;
    transition: width .4s;
}

body .inner .top-menu .middle-box.search-focused {
    width: 0px;
    overflow: hidden;
}

body .inner .top-menu .middle-box .items {
    display: flex;
    margin: 0 25px;
    height: 100%;
    background-color: orange;
    position: relative;
}

body .inner .top-menu .middle-box .items .title {
    height: 35px;
    width: 125px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 25px;
    cursor: pointer;
}

body .inner .top-menu .middle-box .items .login {
    height: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    margin: auto;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

body .inner .top-menu .right-box {
    position: absolute;
    height: 70px;
    width: 180px;
    top:0;
    right:0;
    background-color: green;
}

body .container .popup-wrap {
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding-top: 70px;
}

body .container .popup-wrap.popped {
    display: flex;
}

body .container .popup-wrap .popup {
    width: 100%;
    max-width: 600px;
    max-height: 480px;
    background-color: white;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}

body .container .close-login-page-btn {
    width: 70px;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
    opacity: 0;
}

body .container .close-login-page-btn.popped {
    opacity: 1;
}

body .container .close-login-page-btn .material-icons {
    font-size: 40px;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}