/* COMMON */
body {
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    height: 3000px;
    position: relative;

    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

body .inner {
    width: 1265px;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
}

/* HEADER */
header {

}

header .menu-bar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 0;
    background-color: pink;
    overflow: hidden;
    transition: width .4s;
    z-index: 1;
}

header .menu-bar.focused {
    width: 250px;
}

header .menu-bar ul .menu-bar__list {
    background-color: yellow;
    height: 70px;
    display: flex;
    position: relative;
    border-bottom: 0.5px solid black;
}

header .menu-bar ul .menu-bar__list div {
    font-size: 13px;
    height: 20px;
    position: absolute; 
    font-weight: bold;
    top: 0;
    bottom: 0;
    margin: auto 25px;
    cursor: pointer;
}

header .menu-bar ul .menu-bar__list .material-icons {
    font-size: 20px;
    height: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 25px;
    padding: 10px;
    cursor: pointer;
}

/* TOP MENU BAR */

body > nav.inner {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .4s;
}

body > nav.inner.focused {
    transform: translateX(250px);
}

body .inner .top-menu {
    background-color: pink;
    display: flex;
}

body .inner .top-menu .left-box {
    height: 70px;
    width: 150px;
    background-color: orange;
    position: relative;
}

body .inner .top-menu .left-box .items {
    margin: 0 25px;
    background-color: pink;
    display: flex;
    height: 100%;
    position: relative;
}

body .inner .top-menu .left-box .items .material-icons {
    font-size: 20px;
    height: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    cursor: pointer;
}

body .inner .top-menu .left-box .items div {
    font-size: 13px;
    height: 20px;
    position: absolute; 
    font-weight: bold;
    top: 0;
    bottom: 0;
    margin: auto 15px;
    cursor: pointer;
}

body .inner .top-menu .search {
    display: flex;
    height: 100%;
    position: relative;
}

body .inner .top-menu .search input {
    height: 70px;
    width: 70px;
    outline: none;
    box-sizing: border-box;
    padding: 20px;
    transition: width .4s;
}

body .inner .top-menu .search.focused input {
    width: 935px;
    font-size: 17px;
    color: dimgrey;
}

body .inner .top-menu .search .material-icons {
    font-size: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    opacity: 1;
    transition: .4s;
}

body .inner .top-menu .search.focused .material-icons {
    opacity: 0;
}

body .inner .top-menu .middle-box {
    width: 865px;
    background-color: red;
    transition: width .4s;
}

body .inner .top-menu .middle-box.search-focused {
    width: 0px;
    overflow: hidden;
}

body .inner .top-menu .middle-box .items {
    display: flex;
    margin: 0 25px;
    height: 100%;
    background-color: orange;
    position: relative;
}

body .inner .top-menu .middle-box .items .title {
    height: 35px;
    width: 125px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 25px;
    cursor: pointer;
}

body .inner .top-menu .middle-box .items .login {
    height: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    margin: auto;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

body .inner .top-menu .right-box {
    position: absolute;
    height: 70px;
    width: 180px;
    top:0;
    right:0;
    background-color: green;
}

body .container .popup-wrap {
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding-top: 70px;
}

body .container .popup-wrap.popped {
    display: flex;
}

body .container .popup-wrap .popup {
    width: 100%;
    max-width: 600px;
    max-height: 480px;
    background-color: white;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}

body .container .close-login-page-btn {
    width: 70px;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
    opacity: 0;
}

body .container .close-login-page-btn.popped {
    opacity: 1;
}

body .container .close-login-page-btn .material-icons {
    font-size: 40px;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.visual {
    margin-top: 70px;
    position: relative;
}

.visual .inner {
    height: 500px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../image/visual-background.png');
    background-position: center;
    background-position-x: -400px;
    background-position-y: 800px;
    transition: .4s;
    position: absolute;
    top: 0;
}

.visual .inner.close-visual {
    height: 0;
    overflow: hidden;
}

.visual .inner.side-menu-open {
    transform: translateX(250px);
}

.visual .inner .main-view {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 70px 80px;
    color: white;
}

.visual .inner .main-view .date-box {
    height: 80px;
    display: flex;
    position: relative;
}

.visual .inner .main-view .date-box .date {

}

.visual .inner .main-view .date-box .material-icons {
    border: 1px solid white;
    border-radius: 50%;
    height: 24px;
    position: absolute;
    top:0 ;
    right: 0;
    cursor: pointer;
}

.visual .inner .main-view .title-box {
    height: 200px;
    margin: 0 200px;
    text-align: center;
}

.visual .inner .main-view .title-box .up-box {
    height: 50%;
    position: relative;
}

.visual .inner .main-view .title-box .up-box .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 40px;
}

.visual .inner .main-view .title-box .username {
    font-size: 20px;
}

.visual .inner .main-view .footer-box {
    height: 80px;
    display: flex;
    position: relative;
}

.visual .inner .main-view .footer-box .left-btn1 {
    border: 1px solid white;
    color: #333;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    padding: 3px;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
}

.visual .inner .main-view .footer-box .left-btn1:hover {
    color: white;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
}

.visual .inner .main-view .footer-box .left-btn2 {
    border: 1px solid white;
    border-radius: 15px;
    position: absolute;
    overflow: hidden;
    padding: 3px;
    left: 100px;
    cursor: pointer;
    transition: .4s;
}

.visual .inner .main-view .footer-box .left-btn2:hover {
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.visual .inner .main-view .footer-box .right-box {
    position: absolute;
    right: 0;
    display: flex;
}

.visual .inner .main-view .footer-box .right-box .right-btn1 {
    color: red;
}

.visual .inner .main-view .footer-box .right-box .total-likes {
    margin-right: 20px;
}

.visual .inner .main-view .footer-box .right-box .right-btn2 {
    color: lightblue;
}

/* RECENT POSTS */

.visual .second-box {
    position: absolute;
    top: 500px;
    width: 1265px;
    height: 3000px;
    transition: .4s;
}

.visual .second-box.side-menu-open {
    transform: translateX(250px);
}

.visual .second-box.side-menu-open.close-visual {
    transform: translateX(250px);
    top: 0;
}

.visual .second-box.close-visual {
    transform: translateY(-500px);
}

.visual .second-box .recent-posts {
    position: absolute;
    width: 600px;
    margin-left: 80px;
    height: 300px;
}

.visual .second-box .recent-posts .first-box {
    height: 60px;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.visual .second-box .recent-posts ul.posts {
    font-family: Arial, Helvetica, sans-serif
}

.visual .second-box .recent-posts ul.posts li {
    height: 70px;
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
}

.visual .second-box .recent-posts ul.posts li .upper-line {
    display: flex;
    font-size: 12px;
    color: gray;
}

.visual .second-box .recent-posts ul.posts li .upper-line div {
    margin-right: 30px;

}

.visual .second-box .recent-posts ul.posts li .bottom-line {
    display: flex;

}

.visual .second-box .recent-posts ul.posts li .bottom-line .username {
    width: 86px;
}

.visual .second-box .recent-posts ul.posts li .bottom-line .title {
    width: 350px;
}

.visual .second-box .recent-posts ul.posts li .bottom-line .icons {
    display: flex;
    position: relative;
}

.visual .second-box .recent-posts ul.posts li .bottom-line .icons .total {
    font-size: 10px;
}

.visual .second-box .recent-posts ul.posts li .bottom-line .icons .total.total-likes {
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12.7px;
    margin: auto;
}

.visual .second-box .recent-posts ul.posts li .bottom-line .icons .total.total-comments {
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    margin: auto;
}

.visual .second-box .recent-posts ul.posts li .bottom-line .icons .total.total-views {
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 110px;
    margin: auto;
}

.visual .second-box .recent-posts ul.posts li .bottom-line .icons .material-icons {
    font-size: 10px;
}

.visual .second-box .recent-posts ul.posts li .bottom-line .icons .material-icons.heart {
    color: red;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.visual .second-box .recent-posts ul.posts li .bottom-line .icons .material-icons.comments {
    color: lightblue;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 47.3px;
    margin: auto;
}

.visual .second-box .recent-posts ul.posts li .bottom-line .icons .material-icons.views {
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 94.6px;
    margin: auto;
}