/* COMMON */
body {
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    height: 3000px;
    position: relative;

    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

body .inner {
    width: 1100px;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 250px;
}

/* HEADER */
header {

}

header .menu-bar {
    position: fixed;
    height: 100%;
    width: 0;
    background-color: pink;
    overflow: hidden;
    transition: width .4s;
}

header .menu-bar.focused {
    width: 250px;
}

header .menu-bar ul .menu-bar__list {
    background-color: yellow;
    height: 70px;
    display: flex;
    position: relative;
    border-bottom: 0.5px solid black;
}

header .menu-bar ul .menu-bar__list div {
    font-size: 13px;
    height: 20px;
    position: absolute; 
    font-weight: bold;
    top: 0;
    bottom: 0;
    margin: auto 25px;
    cursor: pointer;
}

header .menu-bar ul .menu-bar__list .material-icons {
    font-size: 20px;
    height: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 25px;
    padding: 10px;
    cursor: pointer;
}

/* TOP MENU BAR */

body > nav.inner {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .4s;
}

body > nav.inner.focused {
    transform: translateX(250px);
}

body .inner .top-menu {
    background-color: pink;
    display: flex;
}

body .inner .top-menu .left-box {
    height: 70px;
    width: 150px;
    background-color: orange;
    position: relative;
}

body .inner .top-menu .left-box .items {
    margin: 0 25px;
    background-color: pink;
    display: flex;
    height: 100%;
    position: relative;
}

body .inner .top-menu .left-box .items .material-icons {
    font-size: 20px;
    height: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    cursor: pointer;
}

body .inner .top-menu .left-box .items div {
    font-size: 13px;
    height: 20px;
    position: absolute; 
    font-weight: bold;
    top: 0;
    bottom: 0;
    margin: auto 15px;
    cursor: pointer;
}

body .inner .top-menu .search {
    display: flex;
    height: 100%;
    position: relative;
}

body .inner .top-menu .search input {
    height: 70px;
    width: 70px;
    outline: none;
    box-sizing: border-box;
    padding: 20px;
}

body .inner .top-menu .search .material-icons {
    font-size: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    opacity: 1;
    transition: .4s;
}

body .inner .top-menu .search.focused .material-icons {
    opacity: 0;
}