<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- GOOGLE MATERIAL ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- RESET CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

    <link rel="stylesheet" href="../static/css/main.css">

    <script defer src="../static/js/main.js"></script>
</head>
<body>
    <header>
        <div class="menu-bar">
            <ul>
                <li class="menu-bar__list">
                    <div>SJSWJEON</div>
                    <div class="material-icons" id="menu-close-btn">keyboard_double_arrow_left</div>
                </li>
                <li class="menu-bar__list">
                    <div>Register / Log in</div>
                </li>
                <li class="menu-bar__list">
                    <div>Home</div>
                </li>
                <li class="menu-bar__list">
                    <div>Board</div>
                </li>
                <li class="menu-bar__list">
                    <div>Point</div>
                </li>
            </ul>
        </div>
    </header>

    <nav class="inner" id="top-menu">
        <div class="top-menu">
            <div class="left-box" id="menu-open-btn">
                <div class="items">
                    <div class="material-icons">menu</div>
                    <div>MENU</div>
                </div>
            </div>

            <div class="search">
                <input type="text">
                <div class="material-icons">search</div>
            </div>
        </div>
    </nav>
</body>
</html>